server:
  port: 8090

spring:
  datasource:
    url: ENC(SS+8cSq6H0LTwbV2isEcq8w6KonFcYRzmMBfPbx+qJJMGvHHuWCy3mnC0OqpZqDsQk9FxgqCqNFsW7HS2Uch5zL5nP+PT4iWE6qmuO/EQUU=)
    username: ENC(a9toJFGFNEqABEc4JLEB/g==)
    password: ENC(jwuywFJ2T5aasNXwdKbH7Ts6X4Y/FnvrNmo/SGCgJbE=)
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 3600000
    validationQuery: SELECT 1
    driver-class-name: org.mariadb.jdbc.Driver

flyway:
  enabled: false

jasypt:
  encryptor:
    algorithm: PBEWithMD5AndDES
    keyObtentionIterations: 1000
    poolSize: 1
    providerName: SunJCE
    saltGeneratorClassname: org.jasypt.salt.RandomSaltGenerator
    stringOutputType: base64

# config value, will not be picked up when consul config is enabled.
# this corresponds to /config/receipts/timeout key configured in Consul.
timeout:
  123
